# ignore binary files
lib/**
src/pp/__histpry/**
src/pp/__recovery/**
src/pp/Win64/**
src/pp/bpl/**
src/pp/dcp/**
src/pp/dcu/**
src/pp/out/**
src/pp/Win64/**
src/pp/*.~*
src/cc/doxydoc/**
src/cc/locale/**
src/cc/pack/**
src/cc/po/**
src/cc/*.o
src/cc/warnings.txt
src/cc/*.exe
src/pl/*.dll
src/pl/*.exe
src/cc/ENG_data.pas
src/cc/Common_data.pas
src/cc/Common_data.ppu
src/cc/DEU_data.pas
src/cc/DEU_data.ppu
src/cc/ENG_data.ppu
src/cc/neuro.pas
src/cc/libxbase.a
src/cc/prolog64.hlp
img/pidat.png
img/pidat2.png
img/pidat4.png
img/pidat3.png
src/cc/count.test
src/cc/count.c
src/cc/tabsi.DBF
src/cc/\!\!\!.DBF
src/cc/ddd.DBF
src/cc/tablee.DBF
src/cc/testung.DBF
src/cc/OPEN2.bmp
src/cc/OPEN3.bmp
src/cc/OPEN4.bmp
src/cc/CLOSE2.bmp
src/cc/CLOSE3.bmp
src/cc/CLOSE4.bmp
src/cc/CLOSE5.bmp
src/cc/OPEN.bmp
src/cc/locale.deu
src/cc/locale.eng
lib/zwap.pl
lib/zwap.pl
src/cc/t2.txt
src/cc/zwap.pl
src/cc/source.hpp
src/cc/libasmjit.dll
src/cc/libdwarf.dll
src/cc/libxbase64.dll
src/cc/oo
src/cc/yy.prg
src/cc/system.pas
src/cc/yy.cc
src/cc/build64win.sh
doc/html/*
doc/chm/*
src/cc/asmjit/*
src/cc/asmjit*.zip*
src/cc/prolog.zip
src/cc/system.bak
doc/hnd/prolog64.hnd-journal
doc/hnd/prolog64.hnd
doc/hnd/assets/img/bg.png
src/cc/system.prg
src/cc/system.prg
src/cc/yy.bak
src/cc/zip/prolog.zip
src/cc/zip/program.prg
src/cc/system.prg
src/cc/system.prg
src/cc/1
doc/hnd/test.hnd
src/cc/system.prg
src/cc/system.prg
doc/hnd/assets/img/yyyy.bmp
src/lang/common.~h
src/lang/dllmain.obj
src/lang/lex.pascal.obj
src/lang/parsers.res
src/lang/parsers.lib
src/lang/parsers.dll
src/lang/parsers.tds
src/lang/parsers.~bpr
src/lang/PascalDSL.~l
src/cc/CompilerConstruction2.pdf
src/cc/CompilerConstruction1.pdf
