# ignore binary files
lib/**
src/pp/__histpry/**
src/pp/__recovery/**
src/pp/Win64/**
src/pp/bpl/**
src/pp/dcp/**
src/pp/dcu/**
src/pp/out/**
src/pp/Win64/**
src/pp/*.~*
src/cc/doxydoc/**
src/cc/locale/**
src/cc/pack/**
src/cc/po/**
src/cc/*.o
src/cc/warnings.txt
src/cc/*.exe
src/pl/*.dll
src/pl/*.exe
src/cc/ENG_data.pas
src/cc/Common_data.pas
src/cc/Common_data.ppu
src/cc/DEU_data.pas
src/cc/DEU_data.ppu
src/cc/ENG_data.ppu
src/cc/neuro.pas
src/cc/libxbase.a
src/cc/prolog64.hlp
