# ignore binary files
lib/**
src/pp/__histpry/**
src/pp/__recovery/**
src/pp/Win64/**
src/pp/bpl/**
src/pp/dcp/**
src/pp/dcu/**
src/pp/out/**
src/pp/Win64/**
src/pp/*.~*
src/cc/*.o
src/cc/*.exe
src/pl/*.dll
src/pl/*.exe
