
*.zip
*.dll
*.lib
*.obj
*.dcu
*.exe
*.~bpf
*.~bpg
*.~bpk
*.~bpr
*.~dpr
*.~ddp
/*.~dfm
*.~c
*.~cc
*.~cpp
*.~h
*.~hpp
*.~l
*.~y
*.~pas
*.tds
*.map
*.bmp
*.png
*.prg
*.tab.c
*.tab.cc
*.tab.~c
*.tab.~cc
*.tab.h
*.tab.o
*.yy.c
*.yy.cc
*.yy.~c
*.yy.~cc
*.yy.o
*.log
*.pl

src/*.~pas
src/*.~dfm
src/*.~dpr

src/build/*
src/rpc/*
src/include/rpc/*
src/include/*
src/ENU/*
src/DEU/*

src/lex*.cc
src/testProject*
src/nodetest.cpp
src/parsers.res
src/initVCL.h

dcu/eng/*
dcu/deu/*
dcu/dev/*
dcu/pack/*
dcu/parser/*
dcu/*
dcu/.*
dcu/*.*

Amiga/*

*.$asm
1.exe
*.~dfm
src/pascalDSLwin32/pascalDSLwin32.tab.c
src/pascalDSLwin32/pascalDSLwin32.tab.h
*.~bpl
src/data/temp/ResPackage.bpl
*.~dpk
*.~dpk
*.bpl
*.dcp
*.dcp
src/data/temp/ResPackage.dcp

src/plugins/*
src/plugins/

*.~*~
